body {
    background-image: url(https://free4kwallpapers.com/uploads/originals/2020/06/02/marvel-infinity-war-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
   
}
html {
    scroll-behavior: smooth;
}
.container{

width: 80%;
margin: auto;
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
}
h2{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
h3{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
}
h4{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
}
h5{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
p{
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5;
}
figure{
   text-align: center; 
}


img{
width: 50%;
}

figure{
text-align: center;
}

.img_topo{
width: 50%;
}

p{
font-size:1.5em;
color: white;
        
}

footer{
text-align: center;
background-color:darkblue;
color:white;  
padding-top: 2%;
padding-bottom: 1%;





}
a{
color: white;

}
.img_logo{
    width: 50%;
    padding-left: 25%;


}

.fixo{
    position: fixed;
    padding-left: 15%;
    background-color: rgba(0, 0, 0, 0.5);
}
